---
import { Image } from 'astro:assets'
import { glob } from "astro/loaders"
import Welcome from '../components/Welcome.astro';
import WorkCard from '../components/WorkCard.astro';
import Layout from '../layouts/Layout.astro';

import linkedIn from '../assets/images/linkedin.JPG';
import { propsToFilename } from 'astro/assets';
import { getCollection } from 'astro:content';
import { getEntry, render } from 'astro:content';

interface WorkCard {
    title: string,
    type: string,
    summary: string,
    description: string
}

const WORK_SWE = "swe"
const WORK_ART = "art"

const works = await getCollection('works')
import { Content as Bio } from '../content/bio.md'
---

<Layout>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Chen</title>
</head>
<body>
    <header>
        <!-- <nav>
            <ul>
                <li><a href="">Michael Chen</a></li>
                <li><a href="">Resume</a></li>
                <li><a href="">Projects</a></li>
            </ul>
        </nav> -->
        <div class="flex-container">
            <div class="flex-container profile-container">
                <img height="width" width="300px" src={linkedIn.src}>
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <div class="social-container">
                    <a href="https://www.linkedin.com/in/~michaelchen/" class="social-button linkedin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"></path>
                        </svg>
                    </a>
                    <a href="https://github.com/michaelkchen" class="social-button github">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                        </svg>
                    </a>
                    <a href="mailto:mkchen91021@gmail.com" class="social-button email">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M22,5V9L12,13,2,9V5A1,1,0,0,1,3,4H21A1,1,0,0,1,22,5ZM2,11.154V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V11.154l-10,4Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="text-container">
                <Bio />
                <a href="#software" class="cta-button" style="background-color: rgba(var(--color1), 0.5);">Software</a>
                <a href="#art" class="cta-button" style="background-color: rgba(var(--color2), 0.5);">Art/Media</a>
                <a href="" class="cta-button" style="background-color: rgba(var(--color3), 0.5);">Resume</a>
            </div>
        </div>
    </header>
    <section>
        <div class="flex-container" style="flex-direction: column;">
            <h1 id="software" style="margin: 2em">Software Experience</h1>
            <div class="gallery-container">
                {works.filter(work => work.data.type == WORK_SWE)
                .map(work => <WorkCard work={work}/>)}
            </div>
        </div>
    </section>

    <section>
        <div class="flex-container" style="flex-direction: column;">
            <h1 id="art" style="margin: 2em">Art/Media Projects</h1>
            <div class="gallery-container">
                {works.filter(work => work.data.type == WORK_ART)
                .map(work => <WorkCard work={work}/>)}
            </div>
        </div>
    </section>

    <footer>
        <a href="#" class="cta-button" style="background-color: rgba(255, 255, 255, 0.05);">Back to Top!</a>
    </footer>
</body>
</Layout>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

    :root {
        --base-color: rgb(0, 0, 0);
        --color1: 0, 174, 255;
        --color2: 41, 0, 255;
        --color3: 230, 0, 255;
        --footer-color: color-mix(in srgb, var(--base-color), white 5%);
        --text-color: rgb(255, 255, 255);
        --hover-color: #cdc4ff
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--footer-color);
        width: 100%;
        margin-top: 5em;
        padding: 3em 0;
    }

    html {
        font-family: 'TikTok Sans', Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--text-color);
    }

    body {
        background-color: var(--base-color);
    }

    h1, h2, h3 {
        font-family: Roboto, 'TikTok Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }

    h1 {
        font-size: 2.5em;
    }

    nav {
        margin: 1em auto 3em auto;
        width: 100%;
    }

    nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2em;
    }

    nav li:first-child {
        margin-right: auto;
        font-family: Roboto, 'TikTok Sans';
        font-weight: bold;
    }

    nav a {
        text-decoration: none;
        color: var(--text-color);
    }

    nav a:hover {
        text-decoration: underline;
        color: var(--hover-color);
    }

    header, section {
        margin: 1em auto;
        width: min(110em, 100%);
    }

    header img {
        max-width: 100%;
        border-radius: 100%;
        object-fit: cover;
    }

    .end {
        margin-bottom: 0em !important;
        padding-bottom: 0em;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 15em auto 30em auto;
    }

    .profile-container {
        flex-direction: column;
        gap: 2em;
        margin: 0 3em;
    }

    .gallery-container {
        display: grid;
        flex-wrap: wrap;
        gap: 5rem;
        grid-template-columns: repeat(auto-fit, 25em);
        align-items: center;
        justify-items: center;
        justify-content: center;
        width: 100%;
    }

    .social-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .text-container {
        flex: 0 1 34em;
    }

    .text-container p {
        margin: .75em 0 1em 0;
        font-size: 1.25rem;
    }

    .cta-button {
        display: inline-block;
        text-decoration: none;
        color:white;
        padding: .75em 1.25em;
        border-radius: 0.5em;
        font-weight: 800;
        font-family: Roboto, 'TikTok Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .social-button {
        display: inline-block;
        text-decoration: none;
        color: white;
    }
</style>
