---
import { Image } from 'astro:assets'
interface Props {
    path: string,
    cols: number,
    width: string
}
const { path, cols, width } = Astro.props
const data = import.meta.glob<{ default: ImageMetadata }>(`/src/assets/**/*.{jpeg,jpg,JPG,JPEG,png,PNG,gif}`, { eager: true })
const images = Object.keys(data).filter(image => image.startsWith(path))
const columns = [];
for (var i = 0; i < cols; i++) {
    columns[i] = Array()
}
for (var i = 0; i < images.length; i++) {
    columns[i % cols].push(images[i])
}
---

<div class="gallery">
    {columns.map(column => (
        <div class="column">
            {column.map(path => (
            <Image src={data[path].default} alt="" width={data[path].default.width} height={data[path].default.height}/> 
            ))}
        </div>
    ))}
</div>

<style define:vars={{width: `${width}`}}>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        width: 100%;
    }
    .column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: var(--width);
        gap: 0.5em;
        margin: 0.25em;
    }
    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 1%;
    }
</style>