---
import { Image } from 'astro:assets'
interface Props {
    path: string,
    width: string
}
const { path, width } = Astro.props
const data = import.meta.glob<{ default: ImageMetadata }>(`/src/assets/**/*.{jpeg,jpg,JPG,JPEG,png,PNG,gif}`, { eager: true })
const images = Object.keys(data).filter(image => image.startsWith(path))
//const width = (100 / Math.ceil(Math.sqrt(images.length)))
---

<div class="gallery">
    {images.map(path => (
        <Image src={data[path].default} alt="" width={data[path].default.width} height={data[path].default.height}/> 
    ))}
</div>

<style define:vars={{width: `${width}`}}>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.5em;
    }
    .gallery img {
        width: var(--width);
        height: auto;
        border-radius: 1%;
    }
</style>